<div
  class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <h5
    class="text-center cursor-default mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Aqui deberia de ir lo que se me olvido
  </h5>

  <div class="grid">
    <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
      <span class="text-orange-700 font-bold">Pronostico:</span><br />
    </p>

    <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
      <span class="text-orange-700 font-bold">Tratamienro:</span><br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis incidunt
      voluptate, eos est harum dolorem molestiae ex hic, debitis esse vel
      deserunt dolor impedit! Placeat repudiandae voluptate numquam harum
      dolorem!
    </p>
  </div>
  <div class="flex items-center justify-center w-full">
    <button
      type="button"
      class="flex focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Ver detalles
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M15 16l4 -4" />
        <path d="M15 8l4 4" />
      </svg>
    </button>
  </div>
</div>
